html, body {
  margin: 0; padding: 0; overflow: hidden; width: 100%; height: 100%; background-color: #000;
}
canvas {
  position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; border: 0;
}
div.toast {
  background-color: rgba(0,0,0,0.5);
  position: absolute; left: 0; bottom: 0; right: 0;
  text-align: center; padding: 40px;
  transform: translateY(100px);
  transition: all 1.0s ease-in-out;
  opacity: 0.0;
  pointer-events: none;
}
div.toast.visible {
  transform: translateY(0); opacity: 1.0;
}
div.toast #text {
  display: block; font-size: 25pt;
  font-family: "Helvetica Neue", Helvetica; font-weight: 100; color: #fff;
}
div.toast #text2 {
  display: block; font-size: 15pt;
  font-family: "Helvetica Neue", Helvetica; font-weight: 100; color: #ccc;
}
div.trackposition {
  position: absolute; left: 10px; bottom: 10px; right: 10px; height: 5px;
  background-color: rgba(0,0,0,0.4); border-radius: 10px;
}
div.trackposition div.fill {
  transition: width 0.1s ease-in-out;
  background-color: #1ed660;
  position: absolute; left: 0; height: 5px; border-radius: 10px;
}
div.status {
  position: absolute; top: 10px; right: 10px;
  font: 10pt "Helvetica Neue", Helvetica; color: rgba(255,255,255,0.3);
}
